code/clinicaltrials.csv
code/clinicaltrials.db
code/log.txt
*.pyc
code/logs/
code/data/
localConfig.py
.DS_Store
code/.ipynb_checkpoints
code/mongodb_sync/mongodb.temp
code/webapplication/backend/output/
code/webapplication/backend/logs/api_service.log
code/webapplication/backend/logs/preprocessing_service.log
code/webapplication/backend/images/sigmoid.png
code/webapplication/backend/model.joblib
code/webapplication/backend/pipeline.joblib
code/webapplication/backend/playground.py
code/webapplication/backend/wsgi.py
code/framework/Evaluation_and_Optimization_Framework.ipynb
code/framework/HyperOpt_and_Models.ipynb
.idea/*
code/.vscode